[submodule "deps/DBoW2"]
	path = deps/DBoW2
	url = https://github.com/dorian3d/DBoW2.git
	branch = master
[submodule "deps/g2o"]
	path = deps/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
	branch = master
[submodule "deps/Sophus"]
	path = deps/Sophus
	url = https://github.com/strasdat/Sophus.git
	branch = main
[submodule "deps/Pangolin"]
	path = deps/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
	branch = master
